In [3]:
# pip install nltk
import nltk
import string# importing string library tring capwords() function
#Python String module contains some constants, utility function, and classes for string manipulation.
#Python string module contains a single utility function - capwords(s, sep=None). 
#This function split the specified string into words using str.split(). Then it capitalizes each word using str.capitalize() function. Finally, it joins the capitalized words using str.join(). If the optional argument sep is not provided or None, then leading and trailing whitespaces are removed and words are separated with single whitespace. 
#If itâ€™s provided then the separator is used to split and join the words.
#nltk.download()#to download the datasets
import pandas as pd
pd
from nltk.corpus import stopwords#removing is , are ,the etc
stopwords

In [4]:
#Get the spam data collection 
#df=pd.read_csv('SpamCollection.csv')
#separatting the spams by a tab and naming the columns
df=pd.read_csv('SpamCollection',sep ='\t',names=['response','message'])
#df.columns = ['label', 'messages'],alternate method
df['spam']=df['response'].apply(lambda x : 1 if x=='spam' else 0)#it means lambda argument is x :the the expression says 1 if x=='spam'else o

In [5]:
df.head()

  response                                            message  spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0

In [6]:
df.describe()

              spam
count  5572.000000
mean      0.134063
std       0.340751
min       0.000000
25%       0.000000
50%       0.000000
75%       0.000000
max       1.000000

In [7]:
#view response to show thvalues of ham and spam 
df.groupby('response').describe()

            spam
           count mean  std  min  25%  50%  75%  max
response
ham       4825.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
spam       747.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0

In [8]:
#Verify length of the messages and also add it as a new column 
df['length'] =df['message'].apply(len)
# above method is used to calculate the length of msgs and keeping the value ina new column called length
df.sort_values(by='length',ascending =False).head(10)

     response                                            message  spam  length
1085      ham  For me the love should start with attraction.i...     0     910
1863      ham  The last thing i ever wanted to do was hurt yo...     0     790
2434      ham  Indians r poor but India is not a poor country...     0     629
1579      ham  How to Make a girl Happy? It's not at all diff...     0     611
2158      ham  Sad story of a Man - Last week was my b'day. M...     0     588
2849      ham  Sad story of a Man - Last week was my b'day. M...     0     588
2380      ham  Good evening Sir, hope you are having a nice d...     0     482
3017      ham  &lt;#&gt;  is fast approaching. So, Wish u a v...     0     461
1513      ham  Hey sweet, I was wondering when you had a mome...     0     458
5104      ham  A Boy loved a gal. He propsd bt she didnt mind...     0     446

In [9]:
df.head()

  response                                            message  spam  length
0      ham  Go until jurong point, crazy.. Available only ...     0     111
1      ham                      Ok lar... Joking wif u oni...     0      29
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1     155
3      ham  U dun say so early hor... U c already then say...     0      49
4      ham  Nah I don't think he goes to usf, he lives aro...     0      61

In [15]:
msg=df.copy()
msg

     response                                            message  spam  length
0         ham  Go until jurong point, crazy.. Available only ...     0     111
1         ham                      Ok lar... Joking wif u oni...     0      29
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...     1     155
3         ham  U dun say so early hor... U c already then say...     0      49
4         ham  Nah I don't think he goes to usf, he lives aro...     0      61
...       ...                                                ...   ...     ...
5567     spam  This is the 2nd time we have tried 2 contact u...     1     160
5568      ham               Will Ã¼ b going to esplanade fr home?     0      36
5569      ham  Pity, * was in mood for that. So...any other s...     0      57
5570      ham  The guy did some bitching but I acted like i'd...     0     125
5571      ham                         Rofl. Its true to its name     0      26

[5572 rows x 4 columns]

In [ ]:
# print(stopwords.words("english"))
#define a function to get rid of stopwords present in the messages
# from nltk.tokenize import sent_tokenize
from nltk.tokenize import word_tokenize
# words=nltk.word_tokenize(msg)
# print(words)
import re
#A regular expression (or RE) specifies a set of strings that matches it; 
#the functions in this module let you check if a particular string matches a given
#regular expression (or if a given regular expression matches a particular string, 
#which comes down to the same thing).
#In Python, string.punctuation will give the all sets of punctuation.

def process_message(mess):
#check characters for punctuation  
    no_punct=[char for char in mess if char not in string.punctuation]
# no_punct= re.sub("[^a-zA-Z]",' ',msg['message'])
# no_punct
# this above method is done because it is a list, so list comprehension applied
 # now sentence formation.
    no_punct =''.join(no_punct)
    return[word for word in no_punct.split() if word.lower()not in stopwords.words('english')]

In [ ]:
#apply() method is used to test the userdefined function which can be used along the dataframe message column.
df['message'].head(10).apply(process_message)

In [21]:
#start text processing with vectorizer 
# to give the text in the message a numeric value Count Vectorizer is used
from sklearn.feature_extraction.text import CountVectorizer

In [24]:
#use bag of words by applying the function and fit the data into it
# an object called bag_of_words_trans is created and function is applied.
bag_of_words_trans=CountVectorizer(analyzer=process_message).fit(df['message'])
# print(len(bag_of_words_transformer.vocabulary))

In [23]:
#print length of bag of words stored in the vocabulary_ attribute
print(len(bag_of_words_trans.vocabulary_))

11425

In [26]:
# to store in bag of words message
message_bagofwords=bag_of_words_trans.transform(df['message'])
message_bagofwords

<5572x11425 sparse matrix of type '<class 'numpy.int64'>'
	with 50548 stored elements in Compressed Sparse Row format>

In [27]:
#apply tfidf transformer and fit the bag of words into it (transformed version)
from sklearn.feature_extraction.text import TfidfTransformer
tfidf_trans=TfidfTransformer().fit(message_bagofwords)

In [30]:
#print shape of the tfidf 
message_tfidf=tfidf_trans.transform(message_bagofwords)
message_tfidf.shape

(5572, 11425)

In [31]:
#choose naive Bayes model to detect the spam and fit the tfidf data into it
from sklearn.naive_bayes import MultinomialNB 
spam_detectmodel=MultinomialNB().fit(message_tfidf,df['response'])
#Naive Bayes is an important statistical process/model to classify the text as spam or not.

In [34]:
#check model for the predicted and expected value say for message#2 and message#5
messagefor_bagofwords=bag_of_words_trans.transform(df['message'])
tfidf=tfidf_trans.transform(messagefor_bagofwords)
print('predicted',spam_detectmodel.predict(tfidf)[0])
print('expected',df.response[4])

predicted ham
expected ham